html, body, #root, .App {
	height: 100%;
    height: 100vh;
}

body { 
  	margin: 0;
}

#canvas {
	background-color: #343e4d;
}

#canvas, .addedCanvas {
	padding: 10px;
	border-radius: 10%;
    margin: 50px auto 0 auto;
}

#canvas {
    z-index: 4;
    position: relative;
}

.addedCanvas {
    z-index: 5;
    position: absolute;
    /* left: 50%; */
    transform: translateX(-100%) translateY(0%);
}

.tableButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin: 5px 0 5px 0; */
    align-items: center;
}
