@import "node_modules/@fontsource/nunito-sans/index.css";

body {
    
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    background: url(img/background-2.jpg) no-repeat fixed, url(img/background-2.jpg) no-repeat right fixed;
    background-size: 50% 100%;

    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
    border-color: #1c8bfa;
}

header .introduction {
    display: flex;
    align-items: center;
    margin: 0 10px;
    color: white;
}

header .introduction h3 {
    margin: 0;
}

header .introduction strong {
    margin: 0 0 0 15px;
}

.nav-button {
    background-color: #3399ff;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 100%;
}

.nav-button:hover {
    background-color: #1569bd;
}

header form {
    font-size: 15px;
    line-height: 30%;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-color: #1c8bfa;
}

.prepend-color {
    background-color: #1569bd8c;
}

.canvas-and-selection {
    margin: 0 0 20px 0;
    padding: 0 20px 20px 20px;
    background-color: rgba(185, 180, 206, 0.786);
    border-radius: 0 0 30px 30px;
    border: 2px solid #1c8bfa;
}

#canvas {
    margin: 50px auto;
    border: 1px solid black;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0 30px 0;
}

.params-selection {
    padding: 15px;
    line-height: 1px;
}

.Xselection {
    margin: 0 0 30px 0;
}

.Yselection {
    margin: 0 0 30px 0;
}

.Yselection-text {
    width: 100%;
    padding: 6px 8px;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
}

.checkbox-block {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.checkbox-block input {
    padding: 0.5em 2em;
    background-color: #1c8bfa;
}

.checkbox-block input:hover {
    background-color: #1f69b3;
}

#Rselection {
    margin: 0 5px 0 13px;
}

#Rselection input {
    border-radius: 0.25em;
}

.error-message {
    display: none;
    color: #000;
    background-color: rgb(218, 42, 42);
    line-height: normal;
}

.btn-block {
    display: flex;
}

.control-btn {
    background-color: #3399ff;
    width: 50%;
    margin: 0 5px 0 5px;
    border-radius: 4px;
    padding: 5px 0 5px 0;
}

.data-table {
    margin: 30px 0 0 0;
    background-color: rgba(185, 180, 206, 0.786);
    border-radius: 10px 10px 0px 0px;
    border: 2px solid #1c8bfa;
}

.data-table table {
    border: none;
    border-radius: 10px 10px 0px 0px;
    border-collapse: collapse;
}

.data-table table td,
.data-table table th {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.data-table table th {
    border-bottom: 1px solid #000;
}

.data-table table td:first-child,
.data-table table th:first-child {
    border-left: none;
}

.data-table table td:last-child,
.data-table table th:last-child {
    border-right: none;
}